<!doctype html>
<html ng-app="UncountApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name=viewport content="width=1024">
    <title>Uncount Cards</title>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/index.js"></script>
    <link type="text/css" href="css/index.css" media="all" rel="stylesheet">
  </head>
  <body>
    <section id="hero-spot">
      <a href="#"><img src="images/logo.png" class="logo"></a>
      <h1>Instinctively-fast piano sight reading.</h1>
      <h2>Stop counting the line and space. Start visualizing the piano. Read 10 times faster and more. </h2>
      <a href="#" class="corner-link">Pre-order from kickstarter</a>
      <img src="images/hero-card.png" class="card" >
    </section>
    <section id="tutorial" ng-controller="TutorialController">
      <h2>See the D above? Let's figure it out with different approach and compare:</h2>        
      <ul class="tabs">
        <li><a href="#" ng-class="{selected:currentTab == 0}" ng-click="tabClicked($event, 0)">Counting approach</a></li>
        <!-- li><a href="#" ng-class="{selected:currentTab == 1}" ng-click="tabClicked($event, 1)">Mnemonic</a></li -->
        <li><a href="#" ng-class="{selected:currentTab == 2}" ng-click="tabClicked($event, 2)">Visual approach</a></li>
      </ul>
      <ul id="counting" class="tutorial-list wrapper" ng-class="{active:currentTab == 0}">
        <li id="counting-step-1" class="image-right" step>
          <h4>Starting with the Middle-C</h4>
        </li>
        <li id="counting-step-2" class="image-right" step>
          <h4>... the one below is a B</h4>
        </li>
        <li id="counting-step-3" class="image-right" step>
          <h4>... then an A</h4>
        </li>
        <li id="counting-step-4" class="three-column image-bottom" step>
          <h4>... and G</h4>
        </li>
        <li id="counting-step-5" class="three-column image-bottom" step>
          <h4>... and F</h4>
        </li>
        <li id="counting-step-6" class="three-column image-bottom" step>
          <h4>... and E</h4>
        </li>
        <li id="counting-step-7" class="image-right" step>
          <h4>... finally the D</h4>
        </li>
        <li id="step-done" class="" step>
          <h4>... and the D on the piano looks like this.</h4>
          <img src="images/d-on-piano.png" >
          <!-- div class="hero-octicon">
            <span class="mega-octicon octicon-check"></span>
          </div -->          
        </li>
        <li id="last-step" class="question" step>
          <h4>8 Steps, conventional approach suggests counting, but is it necessary? </h4>          
          <a href="#" ng-click="nextPageClicked($event)" class="hero-octicon">
            <span class="mega-octicon octicon-chevron-right"></span>
          </a>      
          <p>Find out in next page</p>
        </li>
      </ul>
      <ul id="mnemonic" class="tutorial-list wrapper" ng-class="{active:currentTab == 1}">
        <li id="mnemonic-step-1" class="" step>
          <img src="images/mnemonic.png" >
        </li>
        <li id="mnemonic-step-2" class="image-right" step>
          <h4>G-B-D-F-A, therefore a D.</h4>
        </li>
        <li id="step-done" class="" step>
          <h4>... and the D on the piano looks like this.</h4>
          <img src="images/d-on-piano.png" >
          <!-- div class="hero-octicon">
            <span class="mega-octicon octicon-check"></span>
          </div -->          
        </li>
        <li id="next-step" class="question" step>
          <h4>Result, 3 Steps.</h4>
          <p>... to be filled with some text a bit about the problem of counting from reference note ...</p>
          <p>can we do better?</p>
          <a href="#" class="hero-octicon">
            <span class="mega-octicon octicon-chevron-right"></span>
          </a>          
        </li>
      </ul>
      <ul id="uncount" class="tutorial-list wrapper" ng-class="{active:currentTab == 2}">
        <li id="step-done" class="" step>
          <h4>You either see it or not.</h4>
          <p>TIPS: Don't count.</p>
          <div id="card" ng-class="{open:isCardOpened}" ><!--
            --><img src="images/card-l.png" ><!-- 
            --><img src="images/card-r.png" ><!--
          --></div>

          <ul class="tabs">
            <li><a href="#" ng-class="{selected:!isCardOpened}" ng-click="cardTabClicked($event)">{{isCardOpened ? 'Reset' : 'Open'}}</a></li>
          </ul>
          <img src="images/d-on-piano.png" ng-class="{hidden:!isCardOpened}">
          <p  ng-class="{hidden:!isCardOpened}">Explaination: That note is on the middle line (you do NOT need to count to know that), use that as a visual cue and associate it with the piano key. Make sure you aware of the visual relationship between the staff and the piano, learn to <a>visualize the staff as a piano</a>. Avoid any counting of note, this slight change of habit will make you read 10 times faster.</p>
          
          <div class="hero-octicon" ng-class="{'animate-in':!isCardOpened}">
            <span class="mega-octicon octicon-check"></span>
          </div>
        </li>
        <!-- li id="mnemonic-step-1" class="question" step>
          <h4>Don’t count.<br/>
Don’t use letter.<br/>
<br/></h4>
        </li -->
      </ul>
    </section>
    <section id="next-step">
      <h1>These tools will make your practice or teaching easier and faster.</h1>
      <!-- img src="images/footer.png" -->

      <ul class="next-steps wrapper" >
        <li class="app" step>
          <a class="hero-octicon" href="http://play.google.com">
            <span class="mega-octicon octicon-device-mobile"></span>
          </a>
          <h4><a href="http://play.google.com">Get the app</a></h4>
          <p>First piano sight reading app ever made for piano teachers. Avaliable on <a href="http://play.google.com">Google Play-store</a>.</p>
        </li>
        <li class="pdf" step>
          <a class="hero-octicon" href="Uncount_Teaching_Aid_Global.pdf">
            <span class="mega-octicon octicon-file-pdf"></span>
          </a>
          <h4><a href="Uncount_Teaching_Aid_Global.pdf">Make it yourself</a></h4>
          <p>Great activity for private lesson or group class. <a href="Uncount_Teaching_Aid_Global.pdf">Download (file size 197kb)</a></p>
        </li>
        <li class="gift" step>
          <a class="hero-octicon" href="#">
            <span class="mega-octicon octicon-gift"></span>
          </a>
          <h4><a href="#">Buy from us</a></h4>
          <p>Fantastic gift for piano lover like yourself or your talented friends. <a href="#">Pre-order from kickstarter</a></p>
        </li>
      </ul>
    </section>
    <footer class="page-footer">
      <ul class="site-footer-links">
        <li>&copy; 2014 <span>Uncount</span>, Inc.</li>
      </ul>
    </footer>
  </body>
</html>