<!doctype html>
<html ng-app="UncountApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name=viewport content="width=1024">
    <meta name="robots" content="NOODP">

    <title>Uncount | Sight-read 10x faster by stop counting.</title>    
    <meta name="description" content="Uncount exist to advocate the visual approach to sight-reading by offering accessible tools to worldwide music community.">
    
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/index.js"></script>
    <link type="text/css" href="css/index.css" media="all" rel="stylesheet">

<script src="js//angulartics.js"></script>
<script src="js/angulartics-ga.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56618790-2', 'auto');
  // ga('send', 'pageview');

</script>
  </head>
  <body>
    <section id="hero-spot">
      <a href="#"><img src="images/logo.png" class="logo"></a>
      <h1>Sight-read 10x faster by stop counting.</h1>
      <h2>1. Stop counting the lines and spaces.<br/>2. Visualizing the piano.<br/>3. Read 10 times faster.</h2>
      <a href="#" class="corner-link">Pre-order from kickstarter</a>
      <img src="images/hero-card.png" class="card" >
    </section>
    <section id="tutorial" ng-controller="TutorialController">
      <h1 id="page1">Conventional piano sight reading approach suggests us to count, but is it necessary?</h1> 
      <ul class="tabs">
        <li><a href="#" ng-class="{selected:0 == 0}" ng-click="tabClicked($event, 0)">1. Conventional approach</a></li>       
        <li><a href="#" ng-class="{selected:1 == 2}" ng-click="tabClicked($event, 2)">2. Recommended approach</a></li>
      </ul>
      <!-- ul class="tabs">
        <!-- li><a href="#" ng-class="{selected:currentTab == 0}" ng-click="tabClicked($event, 0)">Counting approach</a></li>
        <!-- li><a href="#" ng-class="{selected:currentTab == 1}" ng-click="tabClicked($event, 1)">Mnemonic</a></li>
        <li><a href="#" ng-class="{selected:currentTab == 2}" ng-click="tabClicked($event, 2)">Visual approach</a></li>
      </ul-->
      <ul id="counting" class="tutorial-list wrapper" ng-class="{active:0 == 0}">
        <li id="counting-step-1" class="image-right" step>
          <h4>We start with the Middle-C (the highlighted note)</h4>
        </li>
        <li id="counting-step-2" class="image-right" step>
          <h4>... the one below is a B</h4>
        </li>
        <li id="counting-step-3" class="image-right" step>
          <h4>... then an A</h4>
        </li>
        <li id="counting-step-4" class="three-column image-bottom" step>
          <h4>... and G</h4>
        </li>
        <li id="counting-step-5" class="three-column image-bottom" step>
          <h4>... and F</h4>
        </li>
        <li id="counting-step-6" class="three-column image-bottom" step>
          <h4>... and E</h4>
        </li>
        <li id="counting-step-7" class="image-right" step>
          <h4>... finally the D</h4>
        </li>
        <li id="step-done" class="" step>
          <h4>... and the D on the piano looks like this.</h4>
          <img src="images/d-on-piano.png" >
          <!-- div class="hero-octicon">
            <span class="mega-octicon octicon-check"></span>
          </div -->          
        </li>
        <li id="last-step" class="question" step>
          <h4>Wait a minute ...</h4>
          <p>8 steps for 1 note? In paino playback we are dealing with a stream of notes, we don't have the leisure of seconds to count. But how some of the pianist can sight read a new piece in real time?</p>
          <!-- a href="#" ng-click="nextPageClicked($event)" class="hero-octicon">
            <span class="mega-octicon octicon-chevron-right"></span>
          </a>      
          <p>Find out in next page</p-->
        </li>
      </ul>

      <h1 id="page2">It's possible to read without counting.</h1> 
      <ul class="tabs">
        <li><a href="#" ng-class="{selected:1 == 0}" ng-click="tabClicked($event, 0)">1. Conventional approch</a></li>       
        <li><a href="#" ng-class="{selected:2 == 2}" ng-click="tabClicked($event, 2)">2. Recommended approach</a></li>
      </ul>

      <ul id="mnemonic" class="tutorial-list wrapper" ng-class="{active:0 == 1}">
        <li id="mnemonic-step-1" class="" step>
          <img src="images/mnemonic.png" >
        </li>
        <li id="mnemonic-step-2" class="image-right" step>
          <h4>G-B-D-F-A, therefore a D.</h4>
        </li>
        <li id="step-done" class="" step>
          <h4>... and the D on the piano looks like this.</h4>
          <img src="images/d-on-piano.png" >
          <!-- div class="hero-octicon">
            <span class="mega-octicon octicon-check"></span>
          </div -->          
        </li>
        <li id="next-step" class="question" step>
          <h4>Result, 3 Steps.</h4>
          <p>... to be filled with some text a bit about the problem of counting from reference note ...</p>
          <p>can we do better?</p>
          <a href="#" class="hero-octicon">
            <span class="mega-octicon octicon-chevron-right"></span>
          </a>          
        </li>
      </ul>
      <ul id="uncount" class="tutorial-list wrapper" ng-class="{active:2 == 2}">
        <li id="step-done" class="" step> 
          <p>Hint: Don't count.</p>
          <div id="card" ng-class="{open:isCardOpened}" ><!--
            --><img src="images/card-l.png" ><!-- 
            --><img src="images/card-r.png" ><!--
          --></div>

          <ul class="tabs">
            <li><a href="#" ng-class="{selected:!isCardOpened}" ng-click="cardTabClicked($event)" analytics-on="click" analytics-analytics-category="Button" analytics-event="Click" analytics-label="Open Card">{{isCardOpened ? 'Reset' : 'Open'}}</a></li>
          </ul>
          <img src="images/d-on-piano.png" ng-class="{hidden:!isCardOpened}">
          <p  ng-class="{hidden:!isCardOpened}">Explaination: 1. This note is on the middle line, you do NOT need to count to know that.  2. Aware that the lines and spaces is an <a>abstraction of the white keys</a>, so practice your imagination until you can visualize the line and space as a full piano keyboard.</p>
          <p ng-class="{hidden:!isCardOpened}">Once again, avoid any counting and approach it visually. This slight change of habit will make you read 10 times faster.</p>
          
          <div class="hero-octicon" ng-class="{'animate-in':!isCardOpened}">
            <span class="mega-octicon octicon-check"></span>
          </div>
        </li>
        <!-- li id="mnemonic-step-1" class="question" step>
          <h4>Don’t count.<br/>
Don’t use letter.<br/>
<br/></h4>
        </li -->
      </ul>
    </section>
    <section id="next-step">
      <h1>Practice until you don't need to count.</h1>
      <h2>These tools will make your practice or teaching easier and faster.</h2>
      <!-- img src="images/footer.png" -->

      <ul class="next-steps wrapper" >
        <li class="app" step>
          <a class="hero-octicon" href="http://play.google.com" analytics-on="click" analytics-analytics-category="Button" analytics-event="Click" analytics-label="Get the app">
            <span class="mega-octicon octicon-device-mobile"></span>
          </a>
          <h4><a href="http://play.google.com" analytics-on="click" analytics-analytics-category="Button" analytics-event="Click" analytics-label="Get the app">Get the app</a></h4>
          <p>First piano sight reading app ever made for piano teachers. Avaliable on <a href="http://play.google.com" analytics-on="click" analytics-analytics-category="Button" analytics-event="Click" analytics-label="Get the app">Google Play-store</a>.</p>
        </li>
        <li class="pdf" step>
          <a class="hero-octicon" href="Uncount_Teaching_Aid_Global.pdf" analytics-on="click" analytics-analytics-category="Button" analytics-event="Click" analytics-label="Make it yourself">
            <span class="mega-octicon octicon-file-pdf"></span>
          </a>
          <h4><a href="Uncount_Teaching_Aid_Global.pdf" analytics-on="click" analytics-analytics-category="Button" analytics-event="Click" analytics-label="Make it yourself">Make it yourself</a></h4>
          <p>Great activity for private lesson or group class. <a href="Uncount_Teaching_Aid_Global.pdf" analytics-on="click" analytics-analytics-category="Button" analytics-event="Click" analytics-label="Make it yourself">Download (file size 451kb)</a></p>
        </li>
        <li class="gift" step>
          <a class="hero-octicon" href="#">
            <span class="mega-octicon octicon-gift"></span>
          </a>
          <h4><a href="#">Buy from us</a></h4>
          <p>Fantastic gift for piano lover like yourself or your talented friends. <a href="#">Pre-order from kickstarter</a></p>
        </li>
      </ul>
    </section>
    <footer class="page-footer">
      <ul class="site-footer-links">
        <li>&copy; 2014 <span>Uncount</span>, Inc.</li>
        <li>中文 (中国)</li>
        <li>中文 (香港)</li>
        <li>English (Global)</li>
        <li>contact@uncount.com</li>
      </ul>
    </footer>
  </body>
</html>